body{
	background: #434241;
}
h1{
	font-size: 200%;
	color: #E0DFDE;
	text-align: center;
	font-family: 'Century Gothic';
}
input{ 
	background: #E0DFDE;
	font-family: 'Century Gothic';
	border: none;
	width: 180px;
	height: 30px;
	padding-left: 10px;
	cursor: text;
	margin-top: 0px;
	margin-bottom: 0px;
}
button{
	background: #ff3131;
	border: none;
	font-family: 'Century Gothic' ;
	color: #E0DFDE;
	width: 57px;
	height: 32px;
	cursor: pointer;
	margin-top: 0px; 
	margin-bottom: 0px;
}
#line_block {  
        float: right; 
        margin: 0 35px 0 0; 
        text-align: center;
        padding: 12px;
}
#img1{
	width: 1300px;
	height: 55px;
}
#img2{
	width: 1300px;
	height: 1px;
}

#img3{
	width: 1300px;
	height: 1px
	margin-top: 20px;
}
html { overflow:  hidden; }

  div { height:  2000px; }

p{
	font-size: 100%;
	color: #E0DFDE ;
	text-align: left;
	font-family: 'Century Gothic';
	margin-left: 50px ;
	margin-top: 130px; 
}
#p1{
	font-size: 100%;
	color: #E0DFDE ;
	text-align: left;
	font-family: 'Century Gothic';
	margin-left: 50px ;
	margin-top: 10px; 
}
